@page
@using NicFWebApp.Pages.Shared.Classes
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container-fluid p-0">
    <div class="d-flex flex-nowrapp align-items-stretch">
        <div class="sidebar min-vh-100">
            <div class="mx-1">
                <img src="Images/Nicholas.jpg" class="portrait p-2" />
                <div class="centered-text">Hello! I am Nicholas Falter! Welcome to my portfolio!</div>
                <div>
                    <div class="contact-info mt-2">
                        <a class="d-flex" href="mailto:nicholasafalter@gmail.com">
                            <img src="/Images/Email-Icon.png" class="icon me-1 mb-1" />nicholasafalter@gmail.com
                        </a>
                        <div class="d-flex"><img src="Images/Phone-Icon.png" class="icon me-1 mb-1" />360-269-2084</div>
                    </div>
                </div>
                <br />
                <div class="centered-text small-font">Check out the code behind my portfolio <a href="https://github.com/NicholasFalter00/NFalter-Portfolio">here</a>!</div>
            </div>
        </div>
        <div class="flex-grow-1 ms-sm-auto px-md-4">
            <h2>Experience</h2>
            @foreach (Experience position in Model.EmploymentHistory!)
            {
                <div class="card m-1">
                    <div class="p-2">
                        <div class="card-header">
                            <h3>@position.JobTitle | @position.Company</h3>
                            <h4>
                                @position.StartDate-@position.EndDate
                            </h4>
                        </div>
                        @position.Description
                        @if (position.Tasks != null)
                        {
                            foreach (Shared.Classes.Task task in position.Tasks!)
                            {
                                <br /><b>@task.Title:</b> @task.Description
                            }
                        }
                    </div>
                </div>
            }
            <h2>Projects</h2>
            @foreach (Experience project in Model.Projects!)
            {
                <div class="card m-1">
                    <div class="p-2">
                        <div class="card-header">
                            <h3>@project.JobTitle | @project.Company</h3>
                            <h4>
                                @project.StartDate-@project.EndDate
                            </h4>
                        </div>
                        @project.Description
                        @if (project.Tasks != null)
                        {
                        foreach (Shared.Classes.Task task in project.Tasks!)
                            {
                                <br /><b>@task.Title:</b> @task.Description
                            }
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>
