@page
@using NicFWebApp.Pages.Shared.Classes
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-4 sidebar">
        <img src="Images/Nicholas.jpg" class="portrait" />
        <div class="centered-text">Hello! I am Nicholas Falter! Welcome to my portfolio!</div>
        <div>
            <div class="contact-info mt-2">
                <a class="d-flex" href="mailto:nicholasafalter@gmail.com">
                    <img src="/Images/Email-Icon5.png" class="icon" />nicholasafalter@gmail.com
                </a>
                <div class="d-flex"><img src="Images/Phone-Icon.png" class="icon" />360-269-2084</div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <h2>Experience</h2>
        @foreach (Experience position in Model.EmploymentHistory!)
        {
            <div class="card">
                <div class="card-text">
                    <div class="card-header">
                        <h3>@position.JobTitle | @position.Company</h3>
                        <h4>
                            @String.Format("{0:MM/yyyy}", position.StartDate)-@(position.EndDate.Date == DateTime.Now.Date ? "Present" : @String.Format("{0:MM/yyyy}", position.EndDate))
                        </h4>
                    </div>
                    <p>
                        @position.Description
                        @if (position.Tasks != null)
                        {
                            foreach (Shared.Classes.Task task in position.Tasks!)
                            {
                                <br /><b>@task.Title:</b> @task.Description
                            }
                        }
                    </p>
                </div>
            </div>
        }
        <h2>Projects</h2>
        @foreach (Experience project in Model.Projects!)
        {
            <div class="card">
                <div class="card-text">
                    <div class="card-header">
                        <h3>@project.JobTitle | @project.Company</h3>
                        <h4>
                            @String.Format("{0:MM/yyyy}", project.StartDate)-@(project.EndDate.Date == DateTime.Now.Date ? "Present" : @String.Format("{0:MM/yyyy}", project.EndDate))
                        </h4>
                    </div>
                    <p>
                        @project.Description
                        @if (project.Tasks != null)
                        {
                        foreach (Shared.Classes.Task task in project.Tasks!)
                            {
                                <br /><b>@task.Title:</b> @task.Description
                            }
                        }
                    </p>
                </div>
            </div>
        }
    </div>
</div>
